<header>
  <h1>{{title}}</h1>
  <nav class="header_nav">
    <ul>
      <li>
        <a href="/" class="link">
          weather
        </a>
      </li>
      <li>
        <a href="/about" class="link">
          about
        </a>
      </li>
      <li>
        <a href="" class="link">
            help
        </a>
      </li>
    </ul>
  </nav>
</header>